
// Herramientas -----------------------------------------------------------------------
@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// Genérico -----------------------------------------------------------------------
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-text;
  line-height: 24px;
  background-color: white;
  color: $text-dark;
}

.margin {
  margin: 2rem;
}

// Elementos -----------------------------------------------------------------------
h1.title {
  font-family: $font-title;
  font-size: clamp(1.5rem, 2.5vw, 4rem); 
  font-weight: 700;
  color: $title-dark;
  @include justify-center();
  margin-top: 1.5rem;
}

h3.subtitle {
  font-family: $font-title;
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 700;
  color: $title-dark;
  @include justify-center();
  margin-top: 1.5rem;
}

p {
  font-family: $font-text;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 400;
  color: $text-dark;
}

a {
  text-decoration: none;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: $text-dark;
}
// Componentes -----------------------------------------------------------------------
//Navbar
.nav {
  font-family: $font-text;
  background-color: $bg-light;
  padding: 1rem 2rem;
}

.nav .nav-items {
  @include flex-row();
  justify-content: space-around;
}

.nav .nav-items a:hover {
 background-color: $bg-dark;
 color: $text-light;
 border-radius: 50px;
 padding: 0.5rem 1rem;
}

.nav .nav-items a:active {
 background-color: $bg-light;
 color: $text-dark;
 border-radius: 50px;
 padding: 0.5rem 1rem;
}

// Logo Sims4
.sims-logo {
  display: block;
  margin: 0 auto 1.5rem auto;
  max-width: 200px;
  height: auto;

  @media (min-width: $sm-tablet) {
    max-width: 50%;
  }
}

// Image building
.image-building {
  width: 100%;
  height: auto;
}

// Slider gallery
div.image-scroll-container {
  background-color: $bg-light;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

// Image famly
.image-family {
  width: 100%;
  height: auto;
}

// Footer
.footer {
  margin-top: 1.5rem;
  padding: 1rem 2rem; font-size: 0.75rem;
  text-align: center;
  color: $text-light;
  background-color: $bg-dark;
}

.footer p{
  font-size: 0.75rem;
  color: $text-light;
  margin: 0;
}


// Auxiliares -----------------------------------------------------------------------
@media (min-width: $sm-tablet) {
  .margin {
    margin: 5rem 2rem;
  }
  
  p {
    padding: 1rem 3rem 2rem 3rem;
    line-height: 29px;
  }

  h1.title {
    margin-top: 3rem;
  }
  
  h3.subtitle {
    margin-top: 2rem;
  }

  .footer {
    @include flex-row();
    justify-content: center;
  }

  .footer .name{
    padding-left: 4px;
  }

  .footer p{
    padding: 0;
  }
}

@media (min-width: $lg-tablet) {
  .margin {
    margin: 6rem 4rem;
  }

  p {
    padding: 0 3rem;
    line-height: 29px;
  }

  h3.subtitle {
    margin-top: 4rem;
  }

  .familia-container {
    @include flex-row();
    justify-content: space-around;
  }

  .familia-images {
    width: 100%;
    height: auto;
  }
  
}

@media (min-width: $desktop) {

  .margin {
    margin: 6rem 4rem;
  }
  
  p {
    padding: 1rem 5rem;
  }

  .casa-images {
    @include flex-row();
    justify-content: space-around;
  }

  .image-building {
    width: 50%;
    height: auto;
  }
}
